.card {
  width: 27%;
  padding-left: 0.5em;
}

.App {
  color: black;
  height: 100vh;
  background-size: cover;
}

.ams-background {
  background-image: url('./background-amsterdam3.jpg');
  background-size: cover;
}

.lnd-background {
  background-image: url('./london3.jpg');
  background-size: cover;
}

.prs-background {
  background-image: url('./paris2.jpg');
  background-size: cover;
}

.homepage {
  height: 100vh;
  width: 99.7%;
}

.icon {
  display: inline
}

a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 6rem;
  text-align: center;
  color: black;
}

.amsterdam {
  height: 33%;
  opacity: 0.3;
  width: 100%;
  background-image: url('./amsti.jpg');
}

.amsterdam:hover {
  opacity: 1;
}

.paris:hover {
  opacity: 1;
}

.london:hover {
  opacity: 1;
}

.paris {
  height: 33%;
  width: 100%;
  opacity: 0.2;
  background-size: cover;
  background-image: url('./ParisFrance_Banner\ copy.jpg');
}

.london {
  height: 33%;
  width: 100%;
  opacity: 0.2;
  background-image: url('./london-banner.jpg');
  background-size: cover;
}

.containerDaily {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 1em;
}

.cardElem {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0.1em;
  padding-left: 0.7em;
  color: white;
}

.headerContainer {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  text-align: center;
  color: white;
  padding-bottom: 0.3em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3rem;
  display: inline;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

.feelsLike {
  font-size: 1rem;
}